EXCHANGE_RATE_API_KEY=763f6fcf45f8008476fe0a52
HASH_URL=8be05402069850cb49d9eacf7cee4bc5

DEBUG=True
ENABLE_POSTGRES_DB=True

POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=django
DB_HOST=localhost
DB_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CELERY_REDIS_DB=1