$bg-main: #e1e8f0;
$white: #ffffff;
$bg-input: #edf4fc;
$accent-color: #2250c4;
$price-increase: #00ad22;
$price-decrease: #bf0303;

$hover: #1494e2;
$disabled: #d9d9d9;

$font-color: #1e1e1e;
$placeholder: #858585;
$error-color: #e40000;
$font-family: 'Inter', sans-serif;
$text-mobile: 14px;
$text-size-small: 16px;
$main-text-size: 20px;
$rate-text-size: 24px;
$amount-text-size: 28px;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
