.page {
	margin-inline: 120px;
	display: flex;
	flex-direction: column;
	min-width: 360px;
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

@media (width<460px) {
	.page {
		margin-inline: 10px;
	}
}
