@use '../../styles/variables' as *;
.form_container {
	position: relative;
	display: flex;
	gap: 20px;
}
.icon {
	position: absolute;
	top: 30%;
	left: 45.7%;
	z-index: 1000000;
	cursor: pointer;
	&:hover {
		fill: $hover;
	}
}

@media (width<460px) {
	.form_container {
		flex-direction: column;
	}
	.icon {
		position: absolute;
		top: 38%;
		left: 40%;
		width: 80px;
	}
}
